body {
  width: 100%;
  height:auto;
}
  #top {
    color : white;
    background-color: #FFDE66;
    height: 200px;
  }
  .mainTitle {
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 80px;
  }
  #loginForm {
    font-size: 30px;
    float: right;
    padding-right: 25px;
  }
  .login_button {
  display: inline;
  background: white;
  border: 3px solid  #FFEF99; border-radius: 5px;
  color: #FFDE66;

  font-size: 0.5em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}
  .login_button,
  .login_button::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  .login_button:hover {
    background-color:  #FFEF99;
      color:  white;
  }
  #textFirstScreen {
    height: 0;
  }
  .syntax1 {
    list-style: none;
    position: relative;
    left : 180px;
    top : 150px;
  }
  .syntax2 {
    list-style: none;
    position: relative;
    left : 230px;
    top : 170px;
  }
  #joinForm {
    float: right;
    padding: 20px;
    color: white;
    font-size: 20px;
    background-color: #FFEF99;
    width:330px;
    height: 350px;
    position: relative;
    /*left : 800px;*/
  }
  span {
    width: 100px;
  }
  .join_input {
    display: inline-block;
    margin: 30px;
  }
  .join_button,
  .join_button::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s;
  }
    .join_button {
    left: 75px; display: block;
    width: 170px; height: 80px;
    background: white;
    border: 3px solid #FFDE66; border-radius: 5px;
    color: #FFDE66;

    font-size: 1.6em;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
  }
  .join_button:hover {
  background-color: #FFDE66;
    color:  white;
  }
  .join_button {
    font-size: 30px;
    overflow: hidden;
  }
